.panel {
	border-right: 1px solid rgba(#000, .06);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	float: left;
	min-height: 100%;
	padding: 30px 0 0;

	@media (max-width: $media-xs) {
		border-right: 0;
	}

	p {
		word-wrap: break-word;
		white-space: normal;
	}
}

.panel-user {
	@include susy-clearfix();

	margin: -5px 0 0 0;
	padding: 0;
	position: relative;
	border-bottom: 1px solid rgba(#000, .06);

	@media (max-width: $media-xs) {
		margin-top: 0;
	}

}

.panel-user-avatar {
	background-color: rgba(#000, .04);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	margin: 0 0 0 12px;
	vertical-align: middle;
	width: 50px;
	overflow:hidden;
}

.panel-user-action {
	cursor: pointer;
	margin-top: -18px;
	margin-right: 18px;
	opacity: .2;
	position: absolute;
	right: 3px;
	top: 20%;

	&:hover {
		opacity: 1;
		transition: all .2s ease;
	}
}

.panel-user-available-actions {
	display: flex;
	flex-direction: row;

	& .user-action-box {
		padding:20px;
		width: 33%;
		vertical-align: center;
		text-align:center;
		cursor: pointer;

		&:nth-child(2) {
			border-left:1px solid rgba(#000, .06);
			border-right: 1px solid rgba(#000, .06);
		}
	}
}

.panel-user-content {
	display: inline-block;
	vertical-align: middle;
	padding:0 20px;
}

.panel-user-name {
	font-size: 16px;
	font-weight: 500;
}

.panel-user-subtitle {
	font-size: 13px;
	margin: 3px 0 0 0;
	opacity: .6;
}

.panel-list {
	flex-grow: 1;

	ul {
		list-style: none;
		margin: 0 0 30px 0;
		padding: 0;
	}

	li {
		line-height: 22px;
		margin: 0 0 15px 0;
		padding: 0 0 0 12px;
		position: relative;

		a {
			text-decoration: underline;
		}

		&:before {
			background-color: rgba($color-black, .2);
			border-radius: 50%;
			content: '';
			display: inline-block;
			height: 3px;
			left: 0;
			position: absolute;
			top: 10px;
			width: 3px;
		}
	}
}

.panel-list-title {
	font-size: 11px;
	font-weight: 700;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

.panel-actions {
	margin-top:auto;
	padding:20px 20px 0;
	border-top: 1px solid rgba(#000, .06);
}

.panel-action-inner {
	display: block;
	padding: 30px;
}

.panel-contact-details {

	#contact-details-form {
		display: flex;
		flex-direction: row;

		& .panel-contact-details-column {
			padding: 0 20px;
			width: 48%;

			&:nth-child(1) {
				border-right: 1px solid rgba(#000, .06);
			}
		}
	}

	overflow:scroll;
}

.panel-contact-details {

	#contact-details-form {
		display: flex;
		flex-direction: row;

		& .panel-contact-details-column {
			padding: 0 20px;
			width: 48%;

			&:nth-child(1) {
				border-right: 1px solid rgba(#000, .06);
			}
		}
	}

	overflow:scroll;
}

.panel-account-details {

	#account-details-form {
		display:flex;
		flex-direction: row;

		& .panel-account-details-column {
			padding: 0 20px;
			width: 48%;

			&:nth-child(1) {
				border-right: 1px solid rgba(#000, .06);
			}
		}
	}
}

.panel-opportunity-details {

	#opportunity-details-form {
		display:flex;
		flex-direction: row;

		& .panel-opportunity-details-column {
			padding: 0 20px;
			width: 48%;

			&:nth-child(1) {
				border-right: 1px solid rgba(#000, .06);
			}
		}
	}
}

.entity-history {
	list-style:none;

	li {
		display:flex;
		flex-flow:row;
		position:relative;
		padding-bottom:20px;

		span.line-number {
			margin-right:20px;
			text-align:center;
			width:3em;
			height:3em;
			line-height:3em;
			border-radius: 50%;
			background-color:$color-active-light;
			z-index:3003;
		}

		span.line {
			position:absolute;
			height:100%;
			border: 0.01em solid rgba($color-active-light, 0.8);
			top: 1em;
			left: 1.4em;
			background:rgba($color-active-light, 0.8);
			z-index:3002;
		}

		.line-content {
			h4 {
				margin:0;
			}

			p {
				margin:0;
			}
		}
	}
}
