$color-primary: #455A64 !default;
$color-secondary: #78909C !default;
$color-font: #5e5f64 !default;

$color-black: #3E3E3E;
$color-red: #EE5342;
$color-green: #32B67A;
$color-orange: #FF5722;
$color-cool-grey: #B0BEC5;

// Responsive
$media-xs: 576px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1281px;

// Brand colors
$color-facebook: #365397;
$color-twitter: #00a9f1;
$color-google-plus: #e0452c;


// Saelos colors
$color-inactive-dark: #7F8388;
$color-inactive-light: #A9ACB0;
$color-active-dark: #4F6277;
$color-active-light: #AEBEC5;
$color-dark: #202122;
$color-light: #F0F0F0;
$color-positive: #63B42E;
$color-caution: #E2D872;
$color-warning: #B9362E;