// Here you can add other styles
@import "../../../node_modules/react-select/dist/react-select.css";

/*
 * Base structure
 */

body {
  overflow: hidden;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

h5,
h6 {
  color: $gray-900;
  margin-bottom: 0.2em;
}
h5 {
  font-weight: 400;
}
h6,
.h6 {
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: 0.2px;
}
p {
  margin-bottom: 0.2em;
}

label {
  font-weight: $font-weight-bold;
}

a:hover {
  text-decoration: none;
}

.toolbar > button.btn-sm {
  padding: 0.15rem 0.25rem 0.25rem;
}

.btn-outline-secondary:hover {
  color: $gray-300;
  background: $white;
}

.btn-link {
  color: $gray-300;
}
.btn-link:hover {
  color: $gray-500;
}

.btn-xs {
  padding: 0.2rem 0.2rem;
}

.r-0 {
  right: 0;
}
.l-0 {
  left: 0;
}

.hidden-link,
.hidden-link:hover {
  color: $gray-900;
}

.mini-text {
  font-size: 70%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.micro-text {
  font-size: 60%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/*
* Colors & Backgrounds
*/

.bg-dark-grey {
  background: #353637;
}

.notes-partial-edit {
  .list-group-item-action:hover {
    background: $white !important;
  }
}

.message-body {
  color: $gray-500;
}

/*
 * Panels
 */

.list-panel,
.detail-panel,
.nav-panel,
.main-panel {
  .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    > :last-child {
      margin-bottom: 0;
    }
  }

  .active > h6,
  .active p {
    color: $white !important;
  }
  .active > .text-muted {
    color: hsla(0, 0%, 100%, 0.8) !important;
  }

  .active > h6 {
    font-weight: 500;
  }

  .active > .text-muted,
  .active > p {
    font-weight: 200;
  }

  .list-group-item:first-child {
    border-top: 0;
  }
  .heading {
    height: 52px;
  }

  .list-group-item-action {
    color: $gray-900;
  }

  .list-group-item-action.active:hover,
  .list-group-item-action.active:focus {
    background: $blue;
    color: $white;
  }

  .list-group-item-action:hover,
  .list-group-item-action:focus {
    background: $blue-hover;
  }
}

.main-panel {
  &.full-panel {
    div.list-group-item {
      cursor: pointer;
    }
  }

  .h-scroll {
    height: calc(100vh - 120px);

    .card:last-child {
      margin-bottom: 1rem !important;
    }

    &.single-height {
      height: calc(100vh - 52px);
    }

    .list-group-flush:last-child .list-group-item:last-child {
      border-bottom: inherit;
    }
  }
}

.detail-panel {
  flex: 0 0 320;
  max-width: 320px;
  .card {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;

    .card-header {
      border-top: 0;
      h6 {
        cursor: pointer;
      }
      h6.collapsed > svg {
        transform: rotate(270deg);
      }
    }
  }

  .history {
    .list-group-item {
      cursor: inherit;
      background: inherit;
      border-color: rgba(0, 0, 0, 0.025);
    }
  }

  .list-group-item,
  .cursor-pointer {
    cursor: pointer;
  }
}

/*
* List Panel
*/
.list-panel {
  flex: 0 0 300;
  max-width: 300px;

  .h-scroll {
    height: calc(100vh - 97px);
  }

  .list-group-item {
    cursor: pointer;
  }

  .text-muted {
    color: $gray-500 !important;
  }
}

/*
* Nav Panel
*/
.nav-panel {
  flex: 0 0 180;
  max-width: 180px;

  .nav {
    display: inherit;

    .nav-link.active {
      background: $gray-900;
      border-left: 4px solid $saelos;
      padding-left: 12px;
      &.small {
        border-left: 0;
      }
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.nav-panel .nav-item {
  width: 100%;
}

.nav-panel .nav-item + .nav-item {
  margin-left: 0;
}

.nav-panel .nav-link {
  color: $gray-300;
  font-weight: 200;
  border-radius: 0;
}

.nav-panel .nav-link:hover {
  background: $gray-400;
}

.h-scroll {
  height: calc(100vh - 52px); /* %-height of the viewport */
  overflow-y: scroll;
}

.mh-200 {
  overflow-y: scroll;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.form-control-plaintext {
  color: $gray-900;
  padding: 0.375rem 0.75rem;
  border-width: 1px;
}

.nl2br {
  white-space: pre-line;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.fw-100 {
  width: 100px;
  max-width: 100px;
}
.fw-200 {
  width: 200px;
  max-width: 200px;
}

.fh-200 > .ql-container {
  height: 200px;
}

#range {
  width: 180px;
  height: 4px;
  border: 0;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
  outline: none;

  .ui-slider-handle {
    position: absolute;
    margin: -6px 0 0 -17px;
    border-radius: 50px;
    background: $blue;
    color: $white;
    border: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 30px;
    outline: none;
    cursor: pointer;
    font-size: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.1s ease;
  }
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.ql-container.ql-snow {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: $gray-600;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
}

.reportGraph {
  .ct-bar {
    stroke-width: 100px;
  }
}

.analyticsGraph {
  .ct-bar {
    stroke-width: 25px;
  }

  .ct-legend li {
    padding-left: 15px;
    margin-right: 10px;
  }

  .ct-legend li:before {
    margin-top: 4px;
  }

  //All
  .ct-series-a .ct-bar,
  .ct-series-a .ct-line,
  .ct-series-a .ct-point,
  .ct-legend .ct-series-0:before {
    background-color: $blue;
    border-color: $blue;
    stroke: $blue;
  }
  .ct-series-a .ct-area {
    fill: $blue;
  }

  //Team
  .ct-series-b .ct-bar,
  .ct-series-b .ct-line,
  .ct-series-b .ct-point,
  .ct-legend .ct-series-1:before {
    background-color: $pink;
    border-color: $pink;
    stroke: $pink;
  }

  .ct-series-b .ct-area {
    fill: $pink;
  }

  //Rep
  .ct-series-c .ct-bar,
  .ct-series-c .ct-line,
  .ct-series-c .ct-point,
  .ct-legend .ct-series-2:before {
    background-color: $purple;
    border-color: $purple;
    stroke: $purple;
  }

  .ct-series-c .ct-area {
    fill: $purple;
  }
}

.detail-panel {
  /* Temporary Location */
  .ct-series-a .ct-area,
  .ct-series-a .ct-slice-donut-solid,
  .ct-series-a .ct-slice-pie,
  .ct-series-b .ct-area,
  .ct-series-b .ct-slice-donut-solid,
  .ct-series-b .ct-slice-pie {
    transition: all 0.2s ease-in;
    fill: $gray-200;
  }
  .ct-series .ct-bar,
  .ct-series .ct-line,
  .ct-series .ct-point,
  .ct-series .ct-slice-donut {
    transition: all 0.2s ease-in;
    stroke: $gray-200;
  }
  .ct-series-b .ct-bar {
    stroke: $gray-100;
  }
  .ct-area {
    stroke: none;
    fill-opacity: 0.1;
  }

  .ct-line {
    stroke-width: 2px;
  }

  .ct-container:hover {
    .ct-series-a .ct-area,
    .ct-series-a .ct-slice-donut-solid,
    .ct-series-a .ct-slice-pie {
      fill: $blue;
    }

    .ct-series-b .ct-bar,
    .ct-series-b .ct-line,
    .ct-series-b .ct-point,
    .ct-series-b .ct-slice-donut {
      stroke: $gray-200;
    }

    .ct-series-a .ct-bar,
    .ct-series-a .ct-line,
    .ct-series-a .ct-point,
    .ct-series-a .ct-slice-donut {
      stroke: $blue;
    }
  }

  .ct-container-inverse:hover {
    .ct-series-a .ct-bar,
    .ct-series-a .ct-line,
    .ct-series-a .ct-point,
    .ct-series-a .ct-slice-donut {
      stroke: $gray-200;
    }

    .ct-series-b .ct-bar,
    .ct-series-b .ct-line,
    .ct-series-b .ct-point,
    .ct-series-b .ct-slice-donut {
      stroke: $blue;
    }
  }
}

.justify-content-center .dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-top: -0.25rem;
}
.mh-2 {
  min-height: 2rem;
}
.mh-5 {
  min-height: 5rem;
}
.pr-2-5 {
  padding-right: 0.7rem !important;
}

.conversations-partial {
  .message-body {
    div {
      display: inline;
      div {
        display: inline-block;
        padding-left: 0.25rem;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.inEdit {
  pointer-events: none;
  opacity: 0.4;
}

.corner-flag::before,
.corner-flag::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

.corner-flag::after {
  border-width: 0.4em;
  border-right-color: $blue-darker;
  border-top-color: $blue-darker;
}

.nav {
  .nav-link.active {
    background-color: $blue;
    color: $white;
  }
}
.DayPickerInput {
  width: 100%;

  &-Overlay {
    left: auto !important;
    right: 0 !important;
  }
}

.fade {
  opacity: 0;

  &.in {
    opacity: 1;
  }
}

.position-relative {
  position: relative;
}

.advanced-search {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
  min-height: 200px;
  background: $white;
  box-shadow: 0 4px 2px -2px $gray-200;

  .tag {
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
  }
  .field {
    background: #faedff;
  }
  .relation {
    background: #e8ffde;
  }
}

#advanced-search {
  &:empty:before {
    content: attr(data-placeholder);
    display: block;
    color: #c1c1c1 !important;
  }

  .tag-container {
    margin-left: 4px;
  }

  .tag {
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
  }
  .field {
    background: #faedff;
  }
  .relation {
    background: #e8ffde;
  }
}

/* SWITCH CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch {
  input {
    &[type="checkbox"] {
      display: none;
    }

    &:checked + .toggle-slider {
      background-color: #2196f3;
    }

    &:focus + .toggle-slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &:checked + .toggle-slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 24px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

.circle-picker {
  position: relative !important;
  margin-top: 0.5rem;
}

.dropdown-menu {
  .circle-picker {
    position: relative !important;
    border: none;
    background: none;
    width: 252px;
  }
}

.add-tag-container {
  position: relative;
}
.add-tag-menu {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.task-container {
  position: absolute;
  bottom: 0px;
  right: 20px;
  z-index: 99;
  width: 33%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .card-header {
    text-transform: capitalize;
  }

  .Select-menu-outer {
    top: auto;
    bottom: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
  }
  .Select-option:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .Select-option:last-child {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
  }
  .Select.is-open > .Select-control {
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.advanced-search-tags {
  overflow: scroll;
  white-space: nowrap;
  background: #fff;
  color: #fff;

  .btn-group {
    display: inline-block;
  }
}

.select-search-tags {
  z-index: $zindex-dropdown;
  top: 64px;
}

.highlight {
  &-field {
    background: #ecf3fc;
    color: $blue;
  }

  &-relation {
    background: #fdccd1;
    color: $saelos;
  }
}

.absolute-centered {
  position: absolute;
  left: 50% !important;
  top: inherit !important;
  transform: translate(-50%, 0) !important;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: $gray-200;
  border-radius: 50%;
  display: inline-block;

  &.mini {
    height: 4px;
    width: 4px;
    margin: 0 5px 2px -12px;
  }
}

.in-margin {
  margin: 0 0 0 -16px;
  font-size: 12px;
}

@include media-breakpoint-down(md) {
  .detail-panel {
    min-width: 30px;
    max-width: 30px;

    &.expanded {
      background: $gray-100;
      max-width: 300px;
      z-index: 100;
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: 0px 0px 20px 0px #e9e9e9;
    }
  }
}

@include media-breakpoint-down(xs) {
  body {
    overflow: auto;
  }
  .nav-panel {
    max-width: 100px;
    a.nav-link {
      text-align: center;
      padding: 0.5rem;
    }
    .nav .nav-link.active {
      border-left: 2px solid $saelos;
      padding: 0.5rem !important;
    }
    .nav-item .nav .nav-item .nav-link {
      text-align: left;
      padding: 0.5rem 0.75rem !important;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    i.h5 {
      font-size: $h3-font-size;
      display: block;
      margin: 0.5rem;
    }
  }
  .list-panel {
    max-width: 100%;

    /* TEMPORARY FIX */
    .text-truncate {
      white-space: inherit;
    }
    .h-scroll {
      height: 100vh;
    }
  }
  .main-panel {
    min-width: 100%;
    border-top: 1px solid $gray-200;
    min-height: 100vh;

    h2.text-muted {
      padding-top: 45vh;
    }

    .h-scroll {
      .form-control-plaintext {
        padding: 0;
      }
    }

    &.full-panel {
      min-width: inherit;
      max-width: 100%;
    }
  }
  .detail-panel {
    min-width: 100%;

    &.expanded {
      background: inherit;
      max-width: inherit;
      z-index: 100;
      position: inherit;
      box-shadow: none;
    }
  }
  .main-panel,
  .detail-panel,
  .nav-panel {
    .h-scroll {
      height: auto;
    }
  }
}

.task-container {
  position: absolute;
  bottom: 0px;
  right: 20px;
  z-index: 99;
  width: 33%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .card-header {
    text-transform: capitalize;
  }

  .Select-menu-outer {
    top: auto;
    bottom: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
  }
  .Select-option:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .Select-option:last-child {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
  }
  .Select.is-open > .Select-control {
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.advanced-search-tags {
  overflow: scroll;
  white-space: nowrap;
  background: #fff;
  color: #fff;

  .btn-group {
    display: inline-block;
  }
}

.select-search-tags {
  z-index: $zindex-dropdown;
  top: 64px;
}

.highlight {
  &-field {
    background: #ecf3fc;
    color: $gray-700;
  }

  &-relation {
    background: #fdccd1;
    color: $gray-700;
  }
}

input:required[value=""] {
  border-color: red;
}

.bark {
  width: 100px;
  height: 100px;
  .bow {
    fill: $saelos;
  }
  .wow {
    fill: $white;
  }
}
