// Here you can add other styles

/*
 * Base structure
 */

body {
  padding-top: 10px;
  overflow: hidden;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

label {
  font-weight: bold;
}

.small {
  font-size: 70%;
  letter-spacing: 0.4px;
}

/*
* Colors & Backgrounds
*/

.bg-dark-grey {
  background: #353637;
}

/*
 * Panels
 */

.list-panel, .detail-panel, .nav-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.detail-panel {
  right: 0;
}

/* 
* Nav Panel
*/
.nav-panel {
  left: 0;
}

.nav-panel {
  padding-left: 0;
  padding-right: 0;
}

.nav-panel {
  margin-bottom: 20px;
}

.nav-panel .nav-item {
  width: 100%;
}

.nav-panel .nav-item + .nav-item {
  margin-left: 0;
}

.nav-panel .nav-link {
  border-radius: 0;
}

.h-scroll {
  height: 96vh; /* %-height of the viewport */
  overflow-y: scroll;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}