// Here you can add other styles

/*
 * Base structure
 */

body {
  overflow: hidden;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

h5, h6 {
  color: $gray-900;
  margin-bottom: 0.2em;
}
h5 {
  font-weight: 400;
}
h6, .h6 {
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: 0.2px;

}
p {
  margin-bottom: 0.2em;
}

label {
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.toolbar > button.btn-sm {
  padding: 0.15rem 0.25rem 0.25rem;
}

.btn-outline-secondary:hover {
  color: $gray-300;
  background: $white;
}

.mini-text {
  font-size: 70%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.micro-text {
  font-size: 60%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/*
* Colors & Backgrounds
*/

.bg-dark-grey {
  background: #353637;
}

/*
 * Panels
 */

.list-panel, .detail-panel, .nav-panel, .main-panel {
  .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    > :last-child {
      margin-bottom: 0;
    }

  }

  .active > h6, .active p {
    color: $white !important;
  }
  .active > .text-muted {
    color: hsla(0,0%,100%,.8) !important;
  }

  .active > h6 {
    font-weight: 500;
  }
  
  .active > .text-muted, .active > p {
    font-weight: 200;
  }

  .list-group-item:first-child {
      border-top: 0;
  }
  .heading {
    height: 52px;
  }

  .list-group-item-action {
    color: $gray-900;
  }

  .list-group-item-action.active:hover, .list-group-item-action.active:focus {
    background: $blue;
    color: $white;
  }

  .list-group-item-action:hover, .list-group-item-action:focus {
    background: $blue-hover;
  }
}

.detail-panel {
  flex: 0 0 320;
  max-width: 320px;
  .card {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;

    .card-header {
      border-top: 0;
    }

  }

  .list-group-item {
    cursor: pointer;
  }

}

/*
* List Panel
*/
.list-panel {
  flex: 0 0 300;
  max-width: 300px;

  .h-scroll {
    height: calc(100vh - 97px); 
  }

  .list-group-item {
    cursor: pointer;
  }

  .text-muted {
    color: $gray-500 !important;
  }
}

/* 
* Nav Panel
*/
.nav-panel {
  flex: 0 0 180;
  max-width: 180px;
  
  .nav {
    display: inherit;
  }

}

.nav-panel .nav-item {
  width: 100%;
}

.nav-panel .nav-item + .nav-item {
  margin-left: 0;
}

.nav-panel .nav-link {
  color: $gray-300;
  font-weight: 200;
  border-radius: 0;
}

.nav-panel .nav-link:hover {
  background: $gray-400;
}

.h-scroll {
  height: calc(100vh - 52px); /* %-height of the viewport */
  overflow-y: scroll;
}

.mh-200 {
  overflow-y: scroll;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.form-control-plaintext {
  padding: 0.375rem 0.75rem;
  border-width: 1px;
}

.nl2br {
  white-space: pre-line;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
